.container{
    margin:1em;
    margin-top: 2em;
    background: white;
    border-radius: 1em;
    height:80%;
    width:20%;
}
.memo_container{
    border : solid 2px black;
    margin:1em;
    height:70%;
    border-radius: 1em;
}