.container{
    background-color: white;
    margin:1em;
    margin-top: 2em;
    border-radius: 3%;
}
.header{
    display: flex;
    height: 3em;
    border-bottom: solid grey 2px;

}
.title{
    font-size: 1.5em;
}
.date{
    display: flex;
    width:50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2em;
}
.date > * {
    width:3em;
}
.plan_card_container{
    
    display: flex;
    border-radius: 5%;
    background-color: white;
    justify-content: center;
}